{% extends "landingpage/index.html" %}

{% block page_content %}
<div class="container-fluid p-5">
    <h5>Info Profilo:</h5>
    <ul>
        <li>Nome: {{ user.username }}</li>
        <li>Mail: {{ user.email }}</li>
        <li>Nato il: {{ user.profile.birthday }}</li>
    </ul>
    <br>
    <p>Puoi modificare il tuo profilo <a href="{% url 'accounts:edit' %}">qui:</a></p>
    <p>Puoi modificare la tua password <a href="{% url 'accounts:password_change' %}">qui:</a></p>
</div>
{% endblock page_content %}