{% extends "landingpage/index.html" %}

{% block page_content %}

<div class="container-fluid p-5">
<!-- Errore username/password -->
    {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    <!-- Autenticazione -->
    {% if next %}
        {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
        {% else %}
        <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}

    <!-- Autenticazione -->
    <form method="post" action="{% url 'accounts:login' %}">
    {% csrf_token %} <!-- Protezione -->
    <table>
    <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
    </tr>
    <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
    </tr>
    </table>

    <input type="submit" value="login">
    <input type="hidden" name="next" value="{{ next }}">
    </form>

<!-- Reset password -->
<p><a href="{% url 'accounts:password_reset' %}">Hai dimenticato la password?</a></p>

</div>

{% endblock %}