{% extends "landingpage/index.html" %}

{% block page_content %}

<div class="container-fluid p-5">
    <h2>Registrazione</h2>
<!-- Errore username/password -->
    {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    <!-- Autenticazione -->
    <form method="post">
    {% csrf_token %} <!-- Protezione -->
    {% for field in form %}
        <p>
        {{ field.label_tag }}
        {{ field }}
        {% if field.help_text %}
            <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.error %}
            <p style="color: red">{{ error }}</p>
        {% endfor %}  
        </p>      
    {% endfor %}

    <input type="submit" value="register">
    </form>

</div>

{% endblock %}