<!-- Sidebar -->
<div class="col-md-4">
  <div class="position-sticky" style="top: 2rem">
    <!-- About -->
    {% block widget_about %}
    {% include "landingpage/partials/_widget_about.html" %}
    {% endblock widget_about %}

    <!-- Post -->
    {% block widget_post %}
    {% include "landingpage/partials/_widget_post.html" %}
    {% endblock widget_post %}

    <!-- Archives -->
    {% block list_archives %}
    {% include "landingpage/partials/_list_archives.html" %}
    {% endblock list_archives %}

    <!-- Socials -->
    {% block list_socials %}
    {% include "landingpage/partials/_list_socials.html" %}
    {% endblock list_socials %}
    
  </div>
</div>